In [2]:
import pandas as pd
from pathlib import Path

In [4]:
path = Path('../2')

In [5]:
dataset = pd.read_csv(str(path / 'last.csv'))
items = pd.read_csv(str(path / 'items.csv'))
people = pd.read_csv(str(path / 'people.csv'))

In [15]:
dataset['ID'] = people['Паспорт']
dataset.rename(columns={'ID': 'Паспорт (PK)', 'Инв_ном': 'Инв_ном (FK)'}, inplace=True)

In [18]:
items.rename(columns={'Инв_ном': 'Инв_ном (PK)'}, inplace=True)

In [24]:
people.rename(columns={'Паспорт': 'Паспорт (PK)'}, inplace=True)
people = people[['Паспорт (PK)', 'ФИО', 'Тел']]

In [25]:
dataset

  Паспорт (PK)   Инв_ном (FK)    Дата-выд  Длит-проката Факт-возврат
0    K05816870  6729685125601  2024-02-07            25   2024-03-09
1    542223808  4627939262114  2024-05-18             8   2024-05-26
2    G66858683  6222619234521  2024-08-29            21   2024-09-23
3    D93983784  5432503961939  2024-02-02            18   2024-02-21
4    163039124  4587725578759  2024-08-13            26   2024-09-15
5    D47187958  8027947857621  2024-06-18             5   2024-06-23
6    M96875193  2946996100589  2024-04-05             5   2024-04-10
7    781352932   764479613937  2024-06-23             3   2024-06-29

In [26]:
people

  Паспорт (PK)                             ФИО                Тел
0    K05816870         Цветков Мина Богданович       +70131840832
1    542223808      Светозар Егорович Самойлов  +7 (624) 648-6768
2    G66858683           Елена Львовна Гуляева    +7 613 805 7682
3    D93983784  Ксения Владиславовна Корнилова       +78516857622
4    163039124           Потап Вилорович Жуков  +7 (350) 130-8785
5    D47187958       Ольга Игоревна Дементьева    +7 223 088 8930
6    M96875193         Тит Гавриилович Кононов     8 428 979 2794
7    781352932     Александров Демьян Фролович    +7 776 920 6829

In [27]:
items

    Инв_ном (PK)                Вид  Аренда-сут  Штраф-сут
0  6729685125601            ракетки         491       1884
1  4627939262114  настольный теннис         173       2522
2  6222619234521       воллейб. мяч         249       2773
3  5432503961939       воллейб. мяч         208       4498
4  4587725578759  настольный теннис         172       2112
5  8027947857621          велосипед         103       2456
6  2946996100589     футбольный мяч         395       3549
7   764479613937     футбольный мяч         212       1748

In [28]:
data_path = Path('data')

In [29]:
dataset.to_csv(str(data_path / 'dataset.csv'), index=False)
items.to_csv(str(data_path / 'items.csv'), index=False)
people.to_csv(str(data_path / 'people.csv'), index=False)